.sidebar {
    width: 115px;
    background-color: var(--bg-color);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 35px 0;
}

.sidebar-logo {
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.sidebar-logo img {
    width: 100%;
}

.sidebar-list__item {
    font-size: 2rem;
    padding: 15px 0;
    cursor: pointer;
}

.sidebar-list__item > a {
    color: var(--grey-color);
}

.sidebar-list__item.active > a {
    color: var(--white-color)
}

.line {
    position: relative;
    width: 100%;
    padding: 15px;
}

.line::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--grey-color);
}