:root {
  --bg-color: #202631;
  --btn-color: #2e4b9c;
  --hover-color: #7fbcf3;
  --grey-color: #afafaf66;
  --white-color: #f7f9fc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--white-color);
}

a {
  text-decoration: none;
  color: white;
}

p {
  margin: 0 !important ;
}

h1,h2,h3,h4,h5 {
  margin: 0;
}

.button {
  background-color: var(--btn-color);
  color: var(--white-color);
  padding: 8px;
  border-radius: 5px;
  max-width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 31px;
}

.app-wrap {
  margin-left: 115px;
}

.App {
  position: relative;
}

.post-box__mask {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #2026314a;
  width: 100%;
  height: 100%;
  z-index: 999;
}